body  {
    width: 100%;
    height: 1100vh;
    margin: 0;
    background-color: #eafa8e;
    color: black;
    font-family:  Tahoma;
    font-size: 16px;
}
h1, p {
    margin: 1em auto;
    text-align: center;

}
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;

}
fieldset:last-of-type {
    border-bottom: none;
}
label {
    display: block;
    margin: 0.5rem 0;
}
input, textarea, select {
    background-color: #eafa8e;
    border: 1px solid #eafa8e;

}
input, textarea {
    background-color: #eafa8e;
    border: 1px solid #eafa8e;
}
.inline {
    width: unset;
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
}
input[type="submit"] {
    display: block;
    width: 50%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #7fffd4;
    border-color: white;
    min-width: 300px;
    border: 2px solid black;
}
input [type="file"] {
    padding: 1px 2px;
}
.inline{
    display: inline;
}

div {
    border: 2px solid black; /* Define uma borda preta com 2px de largura */
    padding: 20px; /* Adiciona algum espaço interno para evitar que o conteúdo encoste na borda */
    margin-left: auto;
    margin-right: auto;
    width: fit-content; /* Isso faz com que o fieldset tenha a largura do conteúdo dentro dele */
    background-color: #7fffd4;
}
legend {
    text-align: center;
}
textarea {
    display: block; /* Garante que a textarea se comporte como um bloco */
    margin: 0 auto; /* Centraliza horizontalmente usando margens automáticas */
    width: 80%; /* Defina uma largura desejada para a textarea */
}
